.MainEdit{
    padding-left: 20%;
    padding-top: 10%;
    padding-right: 20%;
    text-align: start;
}
.MainEdit p{
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: x-large;
    font-weight: bold;
}
.Form-Edit{
    border-radius: 20px;
    box-shadow: 0px 0px 100px 0px #070707;
    box-shadow: -5px 0 5px #779FA6;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: whitesmoke;
}
.Form-Edit input{
    box-shadow: 0px 0px 2px 0px #386398;
    width:80%;
    border-radius: 5px;
}
.item{
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.button-group {
    display: flex;
    justify-content: end;
    gap: 20px;
    grid-column: 2; 
    padding-right: 3rem;
  
}
.item:focus-within span{
    color: #000000;
  }
  
  .item input:focus {
    outline: none;
    border: 1px solid #063BF7;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  .item span{
    color: gray;
  }
.status {
    display: none;
  }
  .toggle {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 34px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a01a1a;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:after {
    content: "Close";
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 14px;
  }
  
  .status:checked + .slider {
    background-color: #5f93be;
  }
  .status:checked + .slider:after {
    content: "Open";
  }
   
 