

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 40vh;
  margin-top: 6rem;
    margin-left: 8%;
  }
  
  .add-course {
   font-family: roboto;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 2rem;

  }
  
  .Form-Class {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
    width: 100%;
    max-width: 1206px;
    background-color: whitesmoke;
    border-radius: 14px;
    box-shadow: -7px 7px 1px 0px rgb(119, 159, 166);
    padding: 1.5rem;
    padding-left: 3rem;
    padding-top: 2.5rem;
    padding-right: 0;
    flex-grow: 1;
    margin-bottom: 6rem; 
}

.input-group {
    display: grid;
    grid-template-rows: auto; 
   
}

.input-group label {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  width: 100%;
  text-align: left; 
  font-size: 20px;
  color: gray; 
}

.input-group:focus-within label {
  font-weight: normal; 
  color: #000000;
}

.input-group input {
  flex-grow: 1;
    width: 90%;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid #063BF7;
    margin-bottom: 3.5rem;
    
}

.input-group input:focus {
  outline: none; 
  border: 1px solid #063BF7;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.input-group-maximum input:focus {
  outline: none; 
  border: 1px solid #063BF7;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: bold; 
}
.input-group-maximum {

  display: grid;
  grid-template-rows: auto; 
 
}

.input-group-maximum label {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
 
  width: 100%;
  text-align: left; 
  font-size: 20px;
  color: gray; 
}

.input-group-maximum:focus-within label {
  font-weight: bold; 
}

.input-group-maximum input {
  flex-grow: 1;
  width: 90%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #063BF7;
  margin-bottom: 2rem; 
}


.button-group {
    display: flex;
    justify-content: end;
    gap: 20px;
    grid-column: 2; 
    padding-right: 3rem;
  
   }

.sendButton {
border: 2px solid #3F8C88 ;
background-color: #3F8C88 ;
color: #ffffff;
border-radius: 20px;  
padding: 0px 30px 0px 30px;
}

.sendButton:hover {
  box-shadow: 0px 0px 10px #000000;
}

.cancelButton{
  border:2px solid #45939E ;
  background-color: #ffffff ;
  color: #063BF7;
  border-radius: 20px;  
  padding: 0px 30px 0px 30px;
}

.cancelButton:hover {
  box-shadow: 0px 0px 10px #000000;
}
  
 
