  .Table-container {
    cursor: default;
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)
  }

  .Table-container caption {
    width: 100%;
    text-align: start;
    font-size: x-large;
    font-weight: bolder;
  }

  .Table-container .cap2 {
    text-align: end;
    position: relative;
    bottom: 20px;
  }

  .Table-container th,
  .Table-container td {
    padding: 1rem;
  }

  .Table-container tr {
    border-bottom: rgb(202, 202, 202) solid;
    border-top: rgb(202, 202, 202) solid;
  }

  .Table-container tr:last-child {
    border-bottom: none;
    border-top: none;
  }
  .CourseStatus {
    color: #4F5AED;
    background-color: #dcdeed;
    width: 100px;
    margin-left: 25%;
    border-radius: 30px;
  }
  .main {
    padding: 0 4% 0 4%;
  }
  .hidden{
    display: none;
  }


  .Search-input{
    border-radius: 5px;
    text-align: left;
    background-color: #f6f6f7;
    padding-left: 40px;
  }

  .Search-input::placeholder {
    font-size: 14px; 
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Search-container {
  z-index: 99;
  margin-top: 2rem;
  margin-right: 6rem;
    position: relative;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
