@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  text-align: center;
  font-family:initial;
  font-size: large;
}

body {
  background-color: #AEC6CB;
  margin: 0;
}