
.MainView{
    padding-left: 20%;
    padding-top: 10%;
    padding-right: 20%;
    text-align: start;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 40vh;
  margin-top: 6rem;
    margin-left: 8%;
  }

.form-container{
    cursor: default;
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)

}

.view-course {
    font-family: roboto;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000000;
    margin-bottom: 2rem;
 
   }

.input-group {
    display: grid;
    grid-template-rows: auto; 
   
}

.input-group label {
    width: 100%;
    text-align: left; 
 
}

.input-group input {
    width: 95%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #063BF7;
    margin-bottom: 3.5rem; 
}


.input-group-maximum {
  display: grid;
  grid-template-rows: auto; 
 
}

.input-group-maximum label {
  width: 100%;
  text-align: left; 

}

.input-group-maximum input {
  width: 95%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #063BF7;
  margin-bottom: 2rem; 
}


.button-group {
    display: flex;
    justify-content: end;
    gap: 20px;
    grid-column: 2; 
   }

   .cancelButton{
    border:2px solid #45939E ;
    background-color: #ffffff ;
    color: #063BF7;
    border-radius: 20px;  
    padding: 0px 30px 0px 30px;
    
  }
  
  .cancelButton:hover {
    box-shadow: 0px 0px 10px #000000;
  }
    
  .Form-Class {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px; 
    width: 100%;
    max-width: 1206px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    flex-grow: 1;
    
}
.item{
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}