.MainView{
  padding-left: 20%;
  padding-top: 10%;
  padding-right: 20%;
  text-align: start;
}
.MainView p{
  margin-left: 1%;
  margin-bottom: 1%;
  font-size: x-large;
  font-weight: bold;
}
.MainView span{
  font-size: large;
 }
.Form-View{
  border-radius: 20px;
  box-shadow: 0px 0px 100px 0px #070707;
  box-shadow: -5px 0 5px #779FA6;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: whitesmoke;
}

.Form-View input{
  box-shadow: 0px 0px 2px 0px #386398;
  width:80%;
  border-radius: 5px;
}
.view{
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.MainView b{
  font-size:large
}
.button_group{
  width: 25%;
  padding-top: 12%;
  height: 25%;
}